.contacts {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
}

.contacts--img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 280px;
  pointer-events: none;
}

.contacts--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 6rem 0rem 6rem;
}

.contacts--container > h1 {
  font-family: var(--primaryFont);
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

.contacts-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
}

.contacts-form {
  display: flex;
  flex: 0.5;
  /* width: 100%; */
}

.contacts-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.input-container {
  width: 100%;
}

.input-container:focus-within label {
  transition: all 300ms ease-in-out;
  color: var(--orange);
}

.form-input {
  height: 50px;
  box-sizing: border-box;
  border-radius: 50px;
  outline: none;
  margin-bottom: 2rem;
  padding: 0.7rem 0.7rem;
  border-radius: 20px;
  width: 100%;
  resize: none;
}

.form-message {
  height: 150px;
  box-sizing: border-box;
  border-radius: 50px;
  outline: none;
  margin-bottom: 2rem;
  padding: 0.7rem 0.7rem;
  border-radius: 20px;
  width: 100%;
  resize: none;
}

.submit-btn button {
  border: none;
  outline: none;
  width: 140px;
  height: 50px;
  border-radius: 50px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.submit-btn button p {
  font-size: 16px;
  font-family: var(--primaryFont);
}

.submit-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.send-icon {
  font-size: 25px;
  transform-origin: center;
  transform: translate(5px, -3px) rotate(-30deg);
}

.success-icon {
  font-size: 28px;
  transition: all 0.3s 0.8s ease-in-out;
}

.contacts-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  flex: 0.45 1;
  box-sizing: border-box;
  /* padding-left: 5rem; */
  margin-top: 1.2rem;
}

.personal-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 2.5rem;
  margin-left: 5rem;
}
.personal-details:hover > div {
  background-color: #f56539;
}

.personal-details p {
  margin-left: 1.5rem;
  font-size: 18px;
  line-height: 110%;
  font-weight: 500;
  font-family: var(--primaryFont);
  width: 45%;
  word-break: break-word;
}

.socialmedia-icons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-top: 4rem;
  margin-left: 5rem;
}

@media (min-width: 992px) and (max-width: 1380px) {
  .contacts-body .contacts--img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 240px;
  }
  .contacts-body {
    justify-content: flex-start;
  }
  .personal-details,
  .socialmedia-icons {
    margin-left: 4rem;
  }
}

@media (max-width: 1120px) {
  .contacts-details {
    flex: 0.6 1;
  }

  .contacts--img {
    width: 250px;
  }
}

@media screen and (max-width: 992px) {
  .contacts--img {
    display: none;
  }
  .contacts--container {
    width: 100%;
    margin-top: 5rem;
    padding: 0 4rem 0rem 4rem;
  }
  .contacts--container > h1 {
    font-size: 3rem;
    margin: 0 0 1.2rem 0;
  }

  .contacts-details {
    flex: 0.5 1;
    align-items: center;
  }
  .personal-details {
    margin-left: 0;
    justify-content: center;
  }
  .personal-details p {
    margin-left: 1rem;
    font-size: 1rem;
    width: 50%;
  }

  .socialmedia-icons {
    justify-content: space-evenly;
    margin-left: 2rem;
  }
  .form-input {
    margin-bottom: 1rem;
  }
}

@media (max-width: 920px) and (orientation: landscape) {
  .contacts--container {
    padding: 0 2rem 2rem 2rem;
  }
  .contacts-details,
  .contacts-form {
    flex: 1 1;
  }

  .socialmedia-icons {
    margin-top: 0;
    margin-left: 2rem;
  }
}

@media (max-width: 920px) and (orientation: portrait) {
  .contacts--container {
    padding: 1rem;
  }
}

@media (max-width: 920px) and (orientation: portrait) {
  .contacts {
    min-height: unset;
  }
}

@media screen and (max-width: 800px) {
  .contacts--container h1 {
    margin-bottom: 30px;
  }
  .contacts--container {
    /* margin-top: 0rem; */
    align-items: center;
  }
  .contacts-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts-form {
    /* display: flex; */
    flex: 1;
    width: 90%;
  }

  .form-input {
    margin-bottom: 0.45rem;
  }
  .contacts-form form {
    align-items: flex-end;
  }

  .contacts-details {
    padding-left: 0rem;
    padding: 1rem 0;
    align-items: baseline;
    margin-top: 5rem;
  }
  .contacts-details > :nth-child(1) {
    order: 2;
  }
  .contacts-details > :nth-child(2) {
    order: 3;
  }
  .contacts-details > :nth-child(3) {
    order: 1;
  }
  .contacts-details > :nth-child(4) {
    order: 4;
  }
  .socialmedia-icons {
    width: unset;
    gap: 1rem;
    margin-top: 1rem;
    margin: 0 auto;
    justify-content: center;
  }
  .personal-details {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    width: unset;
  }
  .personal-details p {
    margin-left: 1.5rem;
    width: 100%;
  }
}
@media screen and (max-width: 800px) and (orientation: landscape) {
  .contacts--container h1 {
    margin-bottom: 0;
    font-size: 2.5rem;
  }

  .contacts--container {
    padding-bottom: 1rem;
  }
}

@media all and (min-height: 360px) and (orientation: landscape) {
  .personal-details {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .contacts-form {
    display: flex;
    flex: 1;
    width: 100%;
  }
  .contacts--container h1 {
    /* font-size: 2.5rem; */
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .contacts-details {
    padding-left: 0rem;
    padding: 0rem;
    align-items: center;
    margin-top: 2rem;
  }
  .submit-btn {
    align-self: center;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
  .contacts-details {
    padding-left: 0rem;
    padding: 0rem;
  }
}

@keyframes spin {
  0% {
    opacity: 1;
    transform: translate(5px, -3px) rotate(0deg);
  }
  /* 60%{
      opacity: 0;
    }
    80%{
      opacity: 1;
    } */
  100% {
    transform: rotate(359deg);
  }
}

@keyframes fly {
  /* 0%,100%{
        transform: translate(5px,-3px) rotate(-30deg);
        opacity: 1;
    }
    25%{
        transform: translate(15px,-10px) rotate(-30deg);
        opacity: 0.8;
    }
    50%{
        transform: translate(20px,-12px) rotate(-30deg);
        opacity: 0;
    }
    60%{
        transform: translate(-12px,10px) rotate(-30deg);
        opacity: 0;
    }
    75%{
        opacity: 0.8;
    } */
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(80px);
  }
}

@media (min-width: 920px) and (orientation: portrait) {
  .contacts {
    min-height: unset;
    padding-bottom: 5rem;
  }
  .socialmedia-icons {
    margin-top: 0;
  }
}

@media (max-width: 430px) and (orientation: portrait) {
  .contacts-form {
    margin-bottom: 5rem;
  }
}
